<!DOCTYPE html>
<html>
  <head>
    <title>BetterBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      <p> <%= current_user.email %> </p>
      <%# links to signout, which fires off the destroy action in sessions controller which removes user from session and automatically redirects again back to sign_in %>
      <%= link_to "Logout", sign_out_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
